absl-py
asgiref
astunparse
cachetools
certifi
charset-normalizer
click
colorama
distlib
dj-database-url
Django
django-heroku
filelock
Flask
flatbuffers
gast
google-auth
google-auth-oauthlib
google-pasta
grpcio
gunicorn
h5py
heroku
idna
itsdangerous
Jinja2
keras
Keras-Preprocessing
libclang
Markdown
MarkupSafe
numpy
oauthlib
opt-einsum
packaging
platformdirs
protobuf
psycopg2
pyasn1
pyasn1-modules
pyparsing
python-dateutil
requests
requests-oauthlib
rsa
six
sqlparse
tensorboard
tensorboard-data-server
tensorboard-plugin-wit
tensorflow==2.9.0
tensorflow-estimator
tensorflow-io-gcs-filesystem
termcolor
typing_extensions
tzdata
urllib3
virtualenv
Werkzeug
whitenoise
wrapt
